<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Technology Division{{/block}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul class="navbar-nav mr-auto">
    <li role="presentation" class="nav-item active"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item" role="presentation"><a href="/tasks/new" class="nav-link">Add a New Employee</a></li>
    <li class="nav-item"><a class="nav-link" href="/categories/new">Add a Department</a></li>
</ul>
</nav>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
         <h1>Welcome to Technology Division Portal</h1>
        <!--<img src="/images/rawpixel-com-296621.jpg" width="70%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">-->
    </div>
</div>

<!-- Beginning Departments -->



<div class="container">
<p>Technology Departments</p>
<div class="row">
{{#if categories}}
{{#each categories}}
  <div class="col-xs-6 col-sm-6 col-lg-6" name="/categories/{{id}}">{{name}} Department

  <div class="card card-cascade narrower">

                                                             <!-- Card image -->
                                                             <div class="view view-cascade overlay">
                                                              <!--<img  class="img-card rounded" src="/images/file2.jpg" alt="Card image cap">-->
                                                               <a href="#!">
                                                                 <div class="mask rgba-white-slight"></div>
                                                               </a>
                                                             </div>

                                                             <!-- Card content -->
                                                             <div class="card-body card-body-cascade text-center">

                                                               <!-- Title -->
                                                               <h4 class="card-title" name="/categories/{{id}}"><strong></strong></h4>
                                                               <!-- Subtitle -->

                                                               <!-- Text -->
                                                               <p class="card-text">
                                                               <!-- Details -->

                                                               {{#block "content"}}
                                                                       {{/block}}


                                                               <!-- End of details -->
                                                               </p>


                                                             </div>

                                                           </div></div>
{{/each}}
  {{/if}}
</div>
</div>
  <div class="col-xs-6 col-sm-3" >{{name}}</div>
<!-- Card Wider -->
<div class="card card-cascade narrower">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title" name="/categories/{{id}}"><strong>{{name}}</strong></h4>
    <!-- Subtitle -->
    <h5 class="blue-text pb-2" name="/categories/{{id}}"><strong>{{name}}</strong></h5>
    <!-- Text -->
    <p class="card-text" name="/categories/{{id}}">{{name}}</p>


  </div>

</div>

<!-- End of Departments -->

<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
            <a href="/tasks/delete">DELETE ALL EMPLOYEES</a><br>
            <a href="/tasks/delete">delete all departments & employees</a>
            </p>
        </div>
    </footer>
    </body>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </html>
{{/block}}
